# Auto detect text files and perform LF normalization
* text=auto

# Ensure commits use UTF-8 encoding
*.cs text working-tree-encoding=UTF-8
*.csproj text working-tree-encoding=UTF-8
*.sln text working-tree-encoding=UTF-8